HF_TOKEN=change_me
AI_TUNNEL_API_KEY=change_me

# опционально
MODEL_NAME=gemini-3-flash-preview
TEMPERATURE=0
EMBEDDINGS_MODEL_NAME=Qwen/Qwen3-Embedding-8B
EMBEDDINGS_LOCAL=false
QDRANT_URL=http://qdrant:6333

USE_LANGFUSE=false
LANGFUSE_SECRET_KEY="sk-"
LANGFUSE_PUBLIC_KEY="pk-"
LANGFUSE_BASE_URL="http://localhost:3000"

RERANKER_MODEL=qilowoq/bge-reranker-v2-m3-en-ru
DEVICE=cuda